<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<%- include('./head'); %>
</head>
<script src="scripts/http.js"></script>
<body>
<div id="main">
  <%- include('./header.html'); %>
  <div id="content">
    <div id="column1">
	  <%- include('./sideBar.html') %>
    <div id="column2">
	  <%- include(column2body) %>
    </div>
  </div>
	<%- include('./footer.html'); %>
  <script src="scripts/logout.js"></script>
</body>
</html>
